# ==============================
# ENTORNOS VIRTUALES
# ==============================
venv/
.env/
.env
.env.*

# ==============================
# STREAMLIT
# ==============================
.streamlit/secrets.toml

# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# ==============================
# LOGS
# ==============================
*.log
logs/

# ==============================
# ARCHIVOS GENERADOS (ETL)
# ==============================
data/*.csv
data/*.json
data/*.png

# ==============================
# EDITORES / SISTEMA
# ==============================
.vscode/
.DS_Store
Thumbs.db